body{
  margin: 0px;
}

body{
  background-color: powderblue;
}

h2{
  margin: 0px;
  margin-right: 1vw;
  margin-left: 1vw;
}

p{
  font-size: 2vw;
  font-weight: bold;
  margin-left: 2vw;
  margin-right: 2vw;
}

h3{
  text-align: left;
  margin: 0px;
  margin-right: 1vw;
  padding: 0px;
  margin-left: 1vw;
}
h4{
  text-align: left;
  margin: 0px;
  margin-right: 1vw;
  padding: 0px;  
  margin-left: 1vw;
}

footer{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 1vw;
    background-color: rgb(0, 116, 143);
}
h2{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
}
h4{
  font-family: Arial, Helvetica, sans-serif;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
p1{
  font-family: Arial, Helvetica, sans-serif;
}