.text {
    font-size: 15vw;
}

body{
  margin: 0px;
}

body{
  background-color: powderblue;
}

main {
  margin-right: 1vw;
}
h2{
  margin: 0px;
  margin-right: 1vw;
}

p1{
  font-size: 1.2vw;
  font-weight: bold;
}

h3{
  text-align: left;
  margin: 0px;
  margin-right: 1vw;
  padding: 0px;
}
h4{
  text-align: left;
  margin: 0px;
  margin-right: 1vw;
  padding: 0px;  
}

footer{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 1vw;
    background-color: rgb(0, 116, 143);
}
h2{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
}
h4{
  font-family: Arial, Helvetica, sans-serif;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
}
p1{
  font-family: Arial, Helvetica, sans-serif;
}